@import url("./fonts/Inter-Variable.css");
@import url("./options.css");

:root {
	--unchecked: #A2D149;
	--unchecked-alt: #AAD751;

	--safe: #D7B899;
	--safe-alt: #E5C29F;

	--bomb-1: #DB3236;
	--bomb-2: #F4840D;
	--bomb-3: #F4C20D;
	--bomb-4: #48E6F1;
	--bomb-5: #B648F2;
	--bomb-6: #ED44B5;
}

body {
	font-family: "Inter";
}

#screen {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1000000;
	width: 100vw;
	height: 100vh;
}

#gameover, #win, #settings {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-items: center;
	text-align: center;

	background: color-mix(in srgb, var(--unchecked) 43.9%, transparent);

	padding: 3rem;
	border-radius: 1rem;
	visibility: hidden;
}

#gameover[show], #win[show], #settings[show] {
	visibility: visible;
}

#info {
	position: fixed;
	top: 16px;
	left: 50%;
	translate: -50% 0;
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
	justify-items: center;
	user-select: none;
	transition: opacity, filter;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.5,0,0,1);
	pointer-events: none;

	opacity: 0.75;

	&:hover {
		opacity: 0.25;
		filter: blur(3px);
	}
}

section:not(.no-background) {
	background-color: #00000071;
	/* backdrop-filter: blur(10px) brightness(200%) hue-rotate(60deg); */
	padding: 1rem 2rem;
	border-radius: 2rem;
	box-shadow: 0 0 20px 1px #0000001A, 0 0 0 2px #0000001A;
}